<h1>Send</h1>

<a href="{{ url_for('dashboard') }}"><button>Back</button></a>

<style>
    .body-input {
        width: 50vh;
        height: 300px;
        border-style: solid;
        border-width: 30px;
    }
</style>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> {{form.receiving_username.label}} <br>
       {{form.receiving_username(size=100)}}</p>

    <p> {{form.subject.label}} <br>
        {{form.subject(size=100)}}</p>

    <p> {{form.body.label}} <br>

        {{form.body(size=1000)}}
    </p>

    <p>{{form.submit()}}</p>
</form>