<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<head>
<style>
    .sort {
        margin-top: 10px;
    }
    #img-file {
        max-width: 300px;
        max-height: 300px;
    }
</style>
<h1>Dashboard</h1>
You are currently logged in as: {{user.name}}
<a href="{{ url_for('logout') }}"><button class="btn btn-primary">Logout</button></a>
<a href="{{ url_for('compose') }}"><button class="btn btn-primary">Compose</button></a>
<a href="{{ url_for('delete') }}"><button class="btn btn-primary">Delete Account</button></a>
<a href="{{ url_for('search') }}"><button class="btn btn-primary">Search</button></a>
<a href="{{ url_for('todo') }}"><button class="btn btn-primary">To-Do</button></a>
<a href="{{ url_for('chat') }}"><button class="btn btn-primary">Public Chat</button></a>
<a href="{{ url_for('draft') }}"><button class="btn btn-primary">Drafts</button></a>
<a href="{{ url_for('editprofile') }}"><button class="btn btn-primary">Edit Profile</button></a>
<a href="{{ url_for('categories') }}"><button class="btn btn-primary">Categories</button></a>

<br>

<form class="sort" action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    {{form.sortByOptions.label}}
    {{form.sortByOptions()}}    
    {{form.submit(class="btn btn-primary")}}
</form>

{% for i in messages %}

    {% if class1.query.filter_by(id=i.sending_user).first().username is not defined %}
    <h1>User: Deleted Account</h1> <a href="{{ url_for('addCategory', messageID=i.id) }}"><button class="btn btn-primary">Add to Category</button></a>
    {% else %}
    <h1>User: {{class1.query.filter_by(id=i.sending_user).first().username}}</h1> <a href="{{ url_for('addCategory', messageID=i.id) }}"><button class="btn btn-secondary">Add to Category</button></a>
    {% endif %}
   
    <p> Timestamp: {{i.timestamp}}</p>
    <p> Subject: {{i.subject}}</p>
    <p> Body: {{i.body}}</p>
    {% if i.filePath is not none %}
        <p><img id="img-file" src="{{i.filePath}}"> </p>
    {% endif %}

    
{% endfor %}
