<h1>Register</h1>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> Welcome to the registration page </p>
    <p> Please fill in the form to create an account</p>    
    <p> {{form.firstname.label}} <br>
        {{form.firstname(size=35)}}</p>
    <p> {{form.lastname.label}} <br>
        {{form.lastname(size=35)}}</p>
    <p> {{form.username.label}} <br>
       {{form.username(size=35)}}</p>

    <p> {{form.password.label}} <br>
       {{form.password(size=35)}}</p>

    <p>{{form.submit()}}</p>
</form>

Already have an account? <a href="{{ url_for('login') }}">Click here.</a>