

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        #img-file {
            max-width: 300px;
            max-height: 300px;
        }
    </style>
<head>


    <h1>Sent</h1>

    <a href="{{ url_for('dashboard') }}"><button class="btn btn-primary">Back</button></a>
    
{% for i in messages %}
    {% if i.subject is defined and not i.recycled %}
        {% if class1.query.filter_by(id=i.receiving_user).first().username is not defined %}
        <h1>User: Deleted Account</h1> 
        {% else %}
        <h1>User: {{class1.query.filter_by(id=i.receiving_user).first().username}}</h1> 
        {% endif %}
    
        <p> Timestamp: {{i.timestamp}}</p>
        <p> Subject: {{i.subject}}</p>
        <p> Body: {{i.body}}</p>
        {% if i.filePath is not none %}
            <p><img id="img-file" src="{{i.filePath}}"> </p>
    {% endif %}
    {% endif %}

    
{% endfor %}