

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        #img-file {
            max-width: 300px;
            max-height: 300px;
        }
        body {
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>
<head>

<body>
    <h1>Sent</h1>

    <a href="{{ url_for('dashboard') }}"><button class="btn btn-primary">Back</button></a>
    
{% for i in messages %}
    {% if i.subject is defined and not i.recycled %}
        {% if class1.query.filter_by(id=i.receiving_user).first().username is not defined %}
        <h3>User: Deleted Account</h3> 
        {% else %}
        <h3>User: {{class1.query.filter_by(id=i.receiving_user).first().username}}</h3> 
        {% endif %}
    
        <p> <h5> Timestamp: </h5> {{i.timestamp}}</p>
        <p> <h5> Subject: </h5> {{i.subject}}</p>
        <p> <h5>Body: </h5> {{i.body}}</p>
        {% if i.filePath is not none %}
            <p><img id="img-file" src="{{i.filePath}}"> </p>
    {% endif %}
    {% endif %}

    
{% endfor %}

</body>