<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>To Do-List</title>
        <h1>To-Do Tester List</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
    </head>
    <body>
        <div class="app">
            
            <h2>
                <input type="text" id="newlist" placeholder="Enter a new task...">
                <button onclick = "addnewTask()" >Add</button>
            </h2>

                <div class = "text">
                    <ul id="list">
    
                </ul>
                </div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/todo.js')}}"></script>

        </div>
    </body>
</html>
