<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>To Do-List</title>
        <h1>To-Do List</h1>
        <link rel="stylesheet" href="todo.css"/>
    </head>
    <body>
        <div class="app">
            
            <h2>
                <input type="text" id="newlist" placeholder="Enter a new task...">
                <button onclick = "addnewTask()" >Add</button>
            </h2>

                <div class = "text">
                    <ul id="list">
    
                </ul>
                </div>
        <script src="todo.js"></script>

        </div>
    </body>
</html>
